<ul class="no-bullets tag-list {% if is_color %} tag-list--swatches{% endif %}">
  {%- assign tag_count = filter.values.size -%}

  {%- if filter.label == 'Size' -%}
    {%- for filter_value in filter.values -%}
      {%- assign show_value = false -%}

      {%- for product in collection.products -%}
        {%- for variant in product.variants -%}
          {%- if variant.available and variant.option1 == filter_value.label -%}
            {%- assign show_value = true -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}

      {%- if show_value -%}
        <li class="tag{% if filter_value.active %} tag--active{% endif %}{% if is_color %} tag--swatch {% if enable_swatch_labels %}tag--show-label{% endif %}{% endif %}">
          <label id="tag-{{ filter_value.value | handle }}" class="tag__checkbox-wrapper text-label" for="tagInput-{{ filter_value.param_name }}-{{ forloop.index }}">
              <input
              id="tagInput-{{ filter_value.param_name }}-{{ forloop.index }}"
              type="checkbox"
              class="tag__input"
              name="{{ filter_value.param_name }}"
              value="{{ filter_value.value }}"
              {% if filter_value.active %}checked{% endif %}>
              {%- if is_color -%}
              <span
                  class="color-swatch color-swatch--filter color-swatch--{{ filter_value.label | handle }}"
                  title="{{ filter_value.label }}"
                  style="background-color: {{ color_swatch_fallback }};{% if images[color_file_name] != blank %}  background-image: url({{ color_image }});{% endif %}"
              >
                {{ filter_value.label }}
              </span>
              <span class="tag__text {% unless is_color and enable_swatch_labels %}hide{% endunless %}">{{ filter_value.label | escape }}</span>
              {%- else -%}
              <span class="tag__checkbox"></span>
              <span>
                  <span class="tag__text">
                    {{ filter_value.label }}
                  </span>
              </span>
              {%- endif -%}
          </label>
        </li>
      {%- endif -%}
    {%- endfor -%}

  {%- else -%}
    {%- for filter_value in filter.values -%}
      <li class="tag{% if filter_value.active %} tag--active{% endif %}{% if is_color %} tag--swatch {% if enable_swatch_labels %}tag--show-label{% endif %}{% endif %}{% if filter_value.count == 0 %} hide{% endif %}">
        <label id="tag-{{ filter_value.value | handle }}" class="tag__checkbox-wrapper text-label" for="tagInput-{{ filter_value.param_name }}-{{ forloop.index }}">
            <input
            id="tagInput-{{ filter_value.param_name }}-{{ forloop.index }}"
            type="checkbox"
            class="tag__input"
            name="{{ filter_value.param_name }}"
            value="{{ filter_value.value }}"
            {% if filter_value.active %}checked{% endif %}>
            {%- if is_color -%}
            <span
                class="color-swatch color-swatch--filter color-swatch--{{ filter_value.label | handle }}"
                title="{{ filter_value.label }}"
                style="background-color: {{ color_swatch_fallback }};{% if images[color_file_name] != blank %}  background-image: url({{ color_image }});{% endif %}"
            >
              {{ filter_value.label }}
            </span>
            <span class="tag__text {% unless is_color and enable_swatch_labels %}hide{% endunless %}">{{ filter_value.label | escape }}</span>
            {%- else -%}
            <span class="tag__checkbox"></span>
            <span>
                <span class="tag__text">
                  {{ filter_value.label }}
                </span> ({{ filter_value.count }})
            </span>
            {%- endif -%}
        </label>
      </li>
    {%- endfor -%}
  {%- endif -%}
</ul>
