<div class="footer__item-padding">
  {%- if block.settings.show_footer_title -%}
    <h2 class="h4 footer__title small--hide">{{ block.settings.title }}</h2>
    <button type="button" class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide" aria-controls="Footer-{{ block.id }}">
      {{ block.settings.title }}
      {%- render 'collapsible-icons' -%}
    </button>
  {%- endif -%}
  <div
    {% if block.settings.show_footer_title %}
      id="Footer-{{ block.id }}" class="collapsible-content collapsible-content--small"
    {% endif %}>
    <div class="collapsible-content__inner">
      <div class="footer__collapsible{% unless block.settings.show_footer_title %} footer_collapsible--disabled{% endunless %}">
        {%- if block.settings.image != blank -%}
          <div class="image-wrap text-spacing" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
            {%- assign sizeVariable = container_width | append: 'vw' -%}
            {%- render 'image-element',
              img: block.settings.image,
              widths: '360, 540, 720, 900, 1080, 1600',
              role: 'presentation',
              sizeVariable: sizeVariable,
            -%}
          </div>
        {%- endif -%}

        {{ block.settings.text }}

        {% if block.settings.show_social %}
        <ul class="no-bullets site-footer__linklist footer-social">
          {%- if settings.social_instagram_link != blank -%}
          <li>
            <a target="_blank" rel="noopener" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram" viewBox="0 0 32 32"><title>instagram</title><path fill="#444" d="M16 3.094c4.206 0 4.7.019 6.363.094 1.538.069 2.369.325 2.925.544.738.287 1.262.625 1.813 1.175s.894 1.075 1.175 1.813c.212.556.475 1.387.544 2.925.075 1.662.094 2.156.094 6.363s-.019 4.7-.094 6.363c-.069 1.538-.325 2.369-.544 2.925-.288.738-.625 1.262-1.175 1.813s-1.075.894-1.813 1.175c-.556.212-1.387.475-2.925.544-1.663.075-2.156.094-6.363.094s-4.7-.019-6.363-.094c-1.537-.069-2.369-.325-2.925-.544-.737-.288-1.263-.625-1.813-1.175s-.894-1.075-1.175-1.813c-.212-.556-.475-1.387-.544-2.925-.075-1.663-.094-2.156-.094-6.363s.019-4.7.094-6.363c.069-1.537.325-2.369.544-2.925.287-.737.625-1.263 1.175-1.813s1.075-.894 1.813-1.175c.556-.212 1.388-.475 2.925-.544 1.662-.081 2.156-.094 6.363-.094zm0-2.838c-4.275 0-4.813.019-6.494.094-1.675.075-2.819.344-3.819.731-1.037.4-1.913.944-2.788 1.819S1.486 4.656 1.08 5.688c-.387 1-.656 2.144-.731 3.825-.075 1.675-.094 2.213-.094 6.488s.019 4.813.094 6.494c.075 1.675.344 2.819.731 3.825.4 1.038.944 1.913 1.819 2.788s1.756 1.413 2.788 1.819c1 .387 2.144.656 3.825.731s2.213.094 6.494.094 4.813-.019 6.494-.094c1.675-.075 2.819-.344 3.825-.731 1.038-.4 1.913-.944 2.788-1.819s1.413-1.756 1.819-2.788c.387-1 .656-2.144.731-3.825s.094-2.212.094-6.494-.019-4.813-.094-6.494c-.075-1.675-.344-2.819-.731-3.825-.4-1.038-.944-1.913-1.819-2.788s-1.756-1.413-2.788-1.819c-1-.387-2.144-.656-3.825-.731C20.812.275 20.275.256 16 .256z"/><path fill="#444" d="M16 7.912a8.088 8.088 0 0 0 0 16.175c4.463 0 8.087-3.625 8.087-8.088s-3.625-8.088-8.088-8.088zm0 13.338a5.25 5.25 0 1 1 0-10.5 5.25 5.25 0 1 1 0 10.5zM26.294 7.594a1.887 1.887 0 1 1-3.774.002 1.887 1.887 0 0 1 3.774-.003z"/></svg>
              <span class="icon__fallback-text">Instagram</span>
            </a>
          </li>
          {%- endif -%}
          {%- if settings.social_facebook_link != blank -%}
            <li>
              <a target="_blank" rel="noopener" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-facebook" viewBox="0 0 14222 14222"><path d="M14222 7112c0 3549.352-2600.418 6491.344-6000 7024.72V9168h1657l315-2056H8222V5778c0-562 275-1111 1159-1111h897V2917s-814-139-1592-139c-1624 0-2686 984-2686 2767v1567H4194v2056h1806v4968.72C2600.418 13603.344 0 10661.352 0 7112 0 3184.703 3183.703 1 7111 1s7111 3183.703 7111 7111Zm-8222 7025c362 57 733 86 1111 86-377.945 0-749.003-29.485-1111-86.28Zm2222 0v-.28a7107.458 7107.458 0 0 1-167.717 24.267A7407.158 7407.158 0 0 0 8222 14137Zm-167.717 23.987C7745.664 14201.89 7430.797 14223 7111 14223c319.843 0 634.675-21.479 943.283-62.013Z"/></svg>
                <span class="icon__fallback-text">Facebook</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_tiktok_link != blank -%}
            <li>
              <a target="_blank" rel="noopener" href="{{ settings.social_tiktok_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'TikTok' }}">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tiktok" viewBox="0 0 2859 3333"><path d="M2081 0c55 473 319 755 778 785v532c-266 26-499-61-770-225v995c0 1264-1378 1659-1932 753-356-583-138-1606 1004-1647v561c-87 14-180 36-265 65-254 86-398 247-358 531 77 544 1075 705 992-358V1h551z"/></svg>
                <span class="icon__fallback-text">TikTok</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_youtube_link != blank -%}
            <li>
              <a target="_blank" rel="noopener" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-youtube" viewBox="0 0 21 20"><path fill="#444" d="M-.196 15.803q0 1.23.812 2.092t1.977.861h14.946q1.165 0 1.977-.861t.812-2.092V3.909q0-1.23-.82-2.116T17.539.907H2.593q-1.148 0-1.969.886t-.82 2.116v11.894zm7.465-2.149V6.058q0-.115.066-.18.049-.016.082-.016l.082.016 7.153 3.806q.066.066.066.164 0 .066-.066.131l-7.153 3.806q-.033.033-.066.033-.066 0-.098-.033-.066-.066-.066-.131z"/></svg>
                <span class="icon__fallback-text">YouTube</span>
              </a>
            </li>
          {%- endif -%}
        </ul>
        {% endif %}

        {% if block.settings.show_payment %}
          <div class="footerpayment">
            <svg width="64" height="40" viewBox="0 0 64 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_88_344)">
            <path d="M64 37.871C63.9997 38.4356 63.7754 38.9769 63.3762 39.3761C62.977 39.7753 62.4357 39.9997 61.8712 40H2.12879C1.56428 39.9997 1.02298 39.7753 0.623815 39.3761C0.22465 38.9769 0.000277876 38.4356 0 37.871L0 2.129C0.000277876 1.56444 0.22465 1.02308 0.623815 0.623876C1.02298 0.224672 1.56428 0.000277903 2.12879 0L61.8712 0C62.4357 0.000277903 62.977 0.224672 63.3762 0.623876C63.7754 1.02308 63.9997 1.56444 64 2.129V37.871Z" fill="#0078A9"/>
            <path d="M19.7961 18.9869V18.3499L19.4929 18.9869H16.8471L16.5125 18.3081V18.9869H11.5765L10.9909 17.6083H9.99744L9.38045 18.9869H6.81836V14.8198L8.70071 10.5796H12.2981L12.8001 11.7807V10.5901H17.1922L18.1543 12.6162L19.0955 10.5796H32.9726C32.9726 10.5796 33.7046 10.5692 34.1752 10.9034V10.5796H37.668V11.0392C38.1315 10.7377 38.6731 10.578 39.2262 10.5796H45.3961L45.9399 11.8016V10.5796H49.8929L50.6144 11.8016V10.5796H54.3896V18.9974H50.5099L49.6001 17.5352V18.9974H44.7687L44.089 17.4935H43.1478L42.5099 18.9974H39.5922C39.5922 18.9974 38.5046 18.9869 37.6889 18.4021V18.9974H31.8746V17.0339C31.8746 16.752 31.655 16.7728 31.655 16.7728H31.4458V18.9974H19.7961V18.9869ZM16.8889 20.8146H24.5334L25.6314 22.0574L26.7608 20.8146H32.638C33.0138 20.8343 33.381 20.934 33.7151 21.107V20.8146H38.9439C39.3725 20.8271 39.792 20.9417 40.1674 21.1488V20.8146H46.8916V21.1175C47.2325 20.9228 47.6178 20.8185 48.0105 20.8146H52.3922V21.1175C52.7454 20.9344 53.1345 20.8311 53.5321 20.8146H56.9726V28.7415C56.9726 28.7415 56.5229 29.2533 55.5818 29.2533H51.0432V29.0026C50.7065 29.1732 50.3332 29.2593 49.9556 29.2533H37.9086V27.2063C37.9086 27.0078 37.8249 26.9661 37.6367 26.9661H37.4693V29.2533H33.7046V26.9765C33.3526 27.1316 32.9703 27.2065 32.5857 27.1958H31.2367V29.2428H26.5935L25.5373 27.9582L24.4079 29.2428H16.8785V20.8146H16.8889Z" fill="white"/>
            <path d="M40.9724 22.0784H45.7724V23.363H42.447V24.4805H45.6783V25.6084H42.447V26.7886H45.7724V28.0419H40.9724V22.0784ZM55.0378 24.397C56.8365 24.4909 56.9934 25.3891 56.9934 26.35C56.9934 27.4674 56.0731 28.0732 55.111 28.0732H52.026V26.7886H54.4313C54.8391 26.7886 55.4456 26.7886 55.4456 26.2142C55.4456 25.9426 55.3411 25.7651 54.9019 25.7233C54.7136 25.692 53.9921 25.6607 53.8875 25.6502C52.2561 25.6084 51.8796 24.7938 51.8796 23.8121C51.8796 22.6946 52.6639 22.0784 53.626 22.0784H56.711V23.3526H54.4522C53.9398 23.3526 53.3855 23.2899 53.3855 23.8748C53.3855 24.2403 53.6574 24.3134 54.0025 24.3447C54.128 24.3656 54.9332 24.4074 55.0378 24.397ZM49.5162 24.397C51.3149 24.4909 51.4718 25.3891 51.4718 26.35C51.4718 27.4674 50.5515 28.0732 49.5894 28.0732H46.5045V26.7886H48.9097C49.3175 26.7886 49.9241 26.7886 49.9241 26.2142C49.9241 25.9426 49.8195 25.7651 49.3803 25.7233C49.1921 25.692 48.4705 25.6607 48.3659 25.6502C46.7345 25.6084 46.3581 24.7938 46.3581 23.8121C46.3581 22.6946 47.1424 22.0784 48.1045 22.0784H51.1894V23.3526H48.9411C48.4287 23.3526 47.8744 23.2899 47.8744 23.8748C47.8744 24.2403 48.1463 24.3134 48.4914 24.3447C48.6064 24.3656 49.4117 24.4074 49.5162 24.397ZM32.1254 22.0889H26.9803L25.2966 23.9374L23.6757 22.0784H17.8927V28.0419H23.4875L25.2443 26.068L26.9594 28.0523H29.7724V26.0262H31.7489C32.5123 26.0262 33.8927 26.0053 33.8927 23.9061C33.8927 22.4231 32.847 22.0889 32.1254 22.0889ZM22.7136 26.7886H19.3358V25.6084H22.5672V24.4805H19.3358V23.363L22.9019 23.3735L24.3345 24.9923L22.7136 26.7886ZM28.3188 27.4883L26.2169 25.0027L28.3188 22.6737V27.4883ZM31.6234 24.8043H29.7934V23.3735H31.6234C32.2404 23.3735 32.4287 23.7703 32.4287 24.0627C32.4391 24.4596 32.23 24.8043 31.6234 24.8043ZM39.2051 25.3369C40.0103 24.94 40.2195 24.4074 40.2195 23.6868C40.2195 22.4126 39.1842 22.0889 38.4626 22.0889H34.6456V28.0523H36.1097V25.9426H38.0339C38.5358 25.9426 38.745 26.4439 38.7555 26.9557L38.7973 28.0523H40.23L40.1777 26.8304C40.1672 25.8695 39.9058 25.4204 39.2051 25.3369ZM37.9398 24.7207H36.1097V23.3735H37.9398C38.5568 23.3735 38.745 23.7703 38.745 24.0627C38.7554 24.4596 38.5463 24.7207 37.9398 24.7207ZM35.2313 11.7808H36.6953V17.7547H35.2313V11.7808ZM23.226 11.7808H28.0156V13.0654H24.6901V14.1829H27.9319V15.3212H24.6901V16.5014H28.0156V17.7547H23.226V11.7808ZM33.4535 15.0288C34.2587 14.6319 34.4679 14.0993 34.4679 13.3787C34.4679 12.1045 33.4221 11.7808 32.711 11.7808H28.894V17.7442H30.3581V15.645H32.2822C32.7842 15.645 32.9934 16.1463 33.0038 16.658L33.0456 17.7547H34.4679L34.4156 16.5327C34.4156 15.5614 34.1437 15.1124 33.4535 15.0288ZM32.1881 14.4126H30.3581V13.0654H32.1881C32.8051 13.0654 32.9934 13.4622 32.9934 13.7547C33.0038 14.1515 32.7842 14.4126 32.1881 14.4126ZM19.8483 11.7808L18.0496 15.7808L16.2509 11.7808H13.9502V17.5249L11.3881 11.7808H9.45349L6.83911 17.7442H8.38682L8.96199 16.4074H11.8901L12.4757 17.7442H15.4247V13.316L17.3907 17.7442H18.7293L20.7371 13.3891V17.7442H22.2012V11.7808H19.8483ZM9.50578 15.1332L10.3842 13.0445L11.294 15.1332H9.50578ZM51.8378 11.7808V15.9165L49.3594 11.7808H47.1947V17.3891L44.6953 11.7912H42.7502L40.7319 16.4178C40.7319 16.4178 39.8744 16.4178 39.7907 16.3969C39.4352 16.3238 38.8809 16.0732 38.8809 15.0184V14.5902C38.8809 13.1907 39.6443 13.0862 40.6169 13.0862H41.5267V11.7912H39.613C38.9437 11.7912 37.4901 12.303 37.4483 14.7468C37.4169 16.3969 38.1385 17.7651 39.7594 17.7651H41.694L42.2692 16.4283H45.1973L45.7829 17.7651H48.6796V13.3996L51.3149 17.7651H53.3123V11.7912H51.8378V11.7808ZM42.8234 15.1332L43.7019 13.0445L44.6221 15.1332H42.8234Z" fill="#0078A9"/>
            </g>
            <defs>
            <clipPath id="clip0_88_344">
            <rect width="64" height="40" fill="white"/>
            </clipPath>
            </defs>
            </svg>

            <svg width="64" height="40" viewBox="0 0 64 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_88_349)">
            <path d="M63.7699 37.6815C63.7697 38.2437 63.5459 38.7828 63.1479 39.1803C62.7498 39.5778 62.21 39.8013 61.6471 39.8016H2.12288C1.55994 39.8013 1.02014 39.5778 0.622082 39.1803C0.224026 38.7828 0.000277104 38.2437 0 37.6815V2.1201C0.000277104 1.5579 0.224026 1.01881 0.622082 0.62127C1.02014 0.223733 1.55994 0.000276742 2.12288 0H61.6471C62.21 0.000276742 62.7498 0.223733 63.1479 0.62127C63.5459 1.01881 63.7697 1.5579 63.7699 2.1201V37.6815Z" fill="#F9F9FA"/>
            <path d="M28.2353 19.8953C28.2343 18.3116 28.5639 16.745 29.2031 15.2957C29.8423 13.8463 30.7771 12.5459 31.9477 11.4776C30.3114 9.97776 28.2734 8.98605 26.0823 8.62344C23.8912 8.26083 21.6417 8.54301 19.6085 9.43554C17.5752 10.3281 15.8461 11.7924 14.632 13.6497C13.418 15.5071 12.7715 17.6772 12.7715 19.8953C12.7715 22.1134 13.418 24.2835 14.632 26.1409C15.8461 27.9983 17.5752 29.4626 19.6085 30.3551C21.6417 31.2476 23.8912 31.5298 26.0823 31.1672C28.2734 30.8046 30.3114 29.8129 31.9477 28.3131C30.7754 27.2461 29.8395 25.946 29.2002 24.4963C28.5608 23.0466 28.2322 21.4794 28.2353 19.8953Z" fill="#EB2030"/>
            <path d="M39.6759 8.46975C36.8123 8.46398 34.0522 9.53823 31.9478 11.4776C33.1146 12.5484 34.0461 13.8494 34.6833 15.2984C35.3205 16.7474 35.6495 18.3128 35.6495 19.8953C35.6495 21.4779 35.3205 23.0433 34.6833 24.4922C34.0461 25.9412 33.1146 27.2423 31.9478 28.3131C33.3188 29.5686 34.9758 30.4712 36.7751 30.9427C38.5744 31.4142 40.4617 31.4403 42.2734 31.0188C44.0851 30.5973 45.7665 29.7409 47.1719 28.5238C48.5773 27.3067 49.6643 25.7656 50.3386 24.0342C51.0129 22.3028 51.2542 20.4332 51.0416 18.5876C50.829 16.742 50.1689 14.9761 49.1185 13.4428C48.0681 11.9096 46.6591 10.6553 45.0137 9.78869C43.3683 8.92211 41.5361 8.46938 39.6759 8.46975Z" fill="#FBB22F"/>
            <path d="M35.6496 19.8958C35.6502 18.3131 35.3214 16.7476 34.6841 15.2985C34.0468 13.8494 33.115 12.5484 31.9477 11.478C30.7779 12.547 29.8437 13.8475 29.2045 15.2968C28.5654 16.746 28.2354 18.3122 28.2354 19.8958C28.2354 21.4793 28.5654 23.0456 29.2045 24.4948C29.8437 25.944 30.7779 27.2445 31.9477 28.3135C33.1169 27.2446 34.05 25.9439 34.6874 24.4945C35.3248 23.0451 35.6525 21.4788 35.6496 19.8958Z" fill="#FF5E00"/>
            </g>
            <defs>
            <clipPath id="clip0_88_349">
            <rect width="64" height="40" fill="white"/>
            </clipPath>
            </defs>
            </svg>

            <svg width="64" height="40" viewBox="0 0 64 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_88_355)">
            <path d="M64 37.8172C64.0006 38.0965 63.946 38.3731 63.8395 38.6313C63.733 38.8895 63.5767 39.1242 63.3794 39.322C63.182 39.5199 62.9476 39.677 62.6895 39.7843C62.4314 39.8917 62.1546 39.9472 61.875 39.9478H2.13334C1.56831 39.9453 1.02712 39.72 0.627579 39.321C0.228037 38.922 0.00248055 38.3815 4.11748e-06 37.8172V2.13055C-0.000545743 1.85131 0.053982 1.5747 0.160474 1.31651C0.266966 1.05831 0.423337 0.823596 0.620659 0.625756C0.81798 0.427917 1.05239 0.270829 1.3105 0.163462C1.56861 0.0560952 1.84537 0.000552177 2.12497 4.1121e-06H61.8667C62.1463 -0.00054503 62.4233 0.0539116 62.6818 0.160265C62.9403 0.266618 63.1753 0.422785 63.3734 0.619848C63.5715 0.816912 63.7288 1.05101 63.8363 1.30879C63.9438 1.56656 63.9995 1.84296 64 2.1222V37.8172Z" fill="#3A58A8"/>
            <path d="M29.4484 25.9737H26.3216L28.2771 13.9737H31.4039L29.4484 25.9737ZM23.6967 13.9737L20.7163 22.2244L20.3608 20.4489L19.315 15.0599C19.315 15.0599 19.1895 13.9842 17.8301 13.9842H12.9046L12.8523 14.1826C12.8523 14.1826 14.3582 14.4959 16.1255 15.5507L18.8445 25.9737H22.1072L27.085 13.9842H23.6967V13.9737ZM48.2824 25.9737H51.1477L48.6484 13.9842H46.1386C44.9778 13.9842 44.6954 14.8823 44.6954 14.8823L40.0314 25.9842H43.2941L43.9425 24.1983H47.9164L48.2824 25.9737ZM44.8418 21.7231L46.4837 17.2322L47.4039 21.7231H44.8418ZM40.2824 16.8562L40.732 14.2766C40.732 14.2766 39.3516 13.7544 37.919 13.7544C36.3713 13.7544 32.6797 14.4332 32.6797 17.7231C32.6797 20.8249 37.0092 20.8562 37.0092 22.4855C37.0092 24.1147 33.1294 23.8223 31.8536 22.7988L31.383 25.4933C31.383 25.4933 32.7843 26.1721 34.9072 26.1721C37.0301 26.1721 40.2614 25.0651 40.2614 22.0677C40.2614 18.945 35.9007 18.663 35.9007 17.3053C35.9007 15.9476 38.9438 16.1252 40.2824 16.8562Z" fill="white"/>
            <path d="M20.3608 20.4491L19.315 15.0601C19.315 15.0601 19.1895 13.9844 17.8301 13.9844H12.9046L12.8523 14.1828C14.5498 14.6163 16.1337 15.4107 17.4954 16.5118C19.6497 18.2664 20.3608 20.4491 20.3608 20.4491Z" fill="#FAA634"/>
            </g>
            <defs>
            <clipPath id="clip0_88_355">
            <rect width="64" height="40" fill="white"/>
            </clipPath>
            </defs>
            </svg>

            <svg width="59" height="16" viewBox="0 0 59 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M56.3216 3.73729L54.9767 11.9681C54.9716 11.9984 54.9734 12.0293 54.982 12.0588C54.9905 12.0882 55.0055 12.1155 55.026 12.1388C55.0465 12.162 55.072 12.1805 55.1007 12.1931C55.1293 12.2057 55.1604 12.2121 55.1919 12.2117H56.7835C56.8397 12.2122 56.8942 12.1931 56.9371 12.1578C56.98 12.1225 57.0085 12.0734 57.0175 12.0194L58.3624 3.78856C58.3675 3.75833 58.3657 3.7274 58.3571 3.69793C58.3486 3.66846 58.3336 3.64116 58.3131 3.61796C58.2926 3.59475 58.2671 3.57619 58.2384 3.56358C58.2098 3.55097 58.1787 3.54462 58.1472 3.54497H56.5556C56.4992 3.54388 56.4444 3.5628 56.4014 3.59819C56.3583 3.63358 56.33 3.68303 56.3216 3.73729ZM54.622 6.13925H53.1118C53.0557 6.13872 53.0013 6.1578 52.9584 6.19303C52.9155 6.22826 52.887 6.27731 52.8781 6.33125L52.8282 6.63427C52.8282 6.63427 51.6552 5.39541 49.5785 6.23264C48.3871 6.71199 47.8152 7.70235 47.5718 8.42791C47.5718 8.42791 46.7994 10.633 48.5463 11.8467C48.5463 11.8467 50.1661 13.014 51.9901 11.7748L51.9586 11.9681C51.9513 12.0136 51.9595 12.06 51.9819 12.1005C52.0043 12.141 52.0397 12.1731 52.0826 12.1922C52.1111 12.2052 52.1423 12.2117 52.1738 12.2117H53.685C53.7413 12.2128 53.7962 12.1939 53.8392 12.1585C53.8823 12.1231 53.9106 12.0737 53.919 12.0194L54.8382 6.38284C54.8433 6.35265 54.8415 6.32173 54.8329 6.2923C54.8243 6.26288 54.809 6.2357 54.7883 6.21272C54.7678 6.18931 54.7423 6.17057 54.7135 6.15781C54.6848 6.14506 54.6536 6.13894 54.622 6.13925ZM52.3998 9.25435C52.3408 9.64817 52.1364 10.0075 51.8248 10.265C51.5119 10.5234 51.1137 10.6629 50.7035 10.6578C50.5426 10.6596 50.3825 10.6369 50.2288 10.5905C49.5768 10.3881 49.2047 9.78268 49.3116 9.12635C49.371 8.73273 49.5757 8.37367 49.8872 8.11639C50.1999 7.85786 50.5978 7.71792 51.0079 7.72227C51.1688 7.72065 51.329 7.74357 51.4826 7.79019C52.1386 7.99133 52.509 8.5977 52.4014 9.25468H52.3998V9.25435ZM44.3355 9.41011C45.1545 9.41011 45.9466 9.12668 46.5688 8.61141C47.1897 8.09789 47.6008 7.38439 47.7274 6.60064C47.9919 4.97027 46.6747 3.54725 44.8075 3.54725H41.7995C41.7434 3.54673 41.6889 3.56585 41.646 3.60115C41.6032 3.63645 41.5747 3.68557 41.5659 3.73958L40.2206 11.9704C40.2133 12.0158 40.2215 12.0623 40.2439 12.1028C40.2663 12.1432 40.3017 12.1754 40.3446 12.1944C40.3735 12.2075 40.4043 12.214 40.4358 12.214H42.0285C42.0846 12.2146 42.1391 12.1954 42.182 12.1601C42.2249 12.1248 42.2533 12.0757 42.2621 12.0217L42.657 9.60472C42.6653 9.55039 42.6937 9.50087 42.7367 9.46541C42.7798 9.42996 42.8347 9.41099 42.891 9.41207L44.3355 9.41011ZM45.6677 6.52652C45.5695 7.12929 45.0874 7.57305 44.1652 7.57305H42.9862L43.3443 5.38105H44.5021C45.4555 5.38268 45.7659 5.92635 45.6677 6.52815V6.52652Z" fill="white"/>
            <path d="M38.406 6.2788L36.5844 9.25186L35.6598 6.30068C35.6453 6.25358 35.6155 6.21235 35.5749 6.18319C35.5343 6.15404 35.485 6.13854 35.4345 6.13905H33.7906C33.7481 6.13849 33.7067 6.15292 33.6743 6.17968C33.6418 6.20644 33.6204 6.24373 33.6139 6.28468C33.6099 6.31183 33.6128 6.33952 33.6223 6.36533L35.279 11.3364L33.7805 13.679C33.7678 13.6983 33.7593 13.7199 33.7554 13.7425C33.7516 13.7651 33.7525 13.7882 33.7581 13.8105C33.7638 13.8327 33.774 13.8536 33.7883 13.8719C33.8025 13.8902 33.8204 13.9054 33.8409 13.9167C33.8683 13.932 33.8994 13.9399 33.931 13.9395H35.7017C35.7522 13.9397 35.802 13.9272 35.8461 13.9031C35.8902 13.8791 35.9272 13.8444 35.9535 13.8024L40.5809 6.40093C40.5977 6.37515 40.6069 6.3454 40.6076 6.3149C40.6082 6.28439 40.6003 6.25429 40.5846 6.22786C40.569 6.20135 40.5464 6.17939 40.5191 6.16429C40.4918 6.14919 40.4608 6.14149 40.4294 6.14199H38.6594C38.6086 6.14153 38.5586 6.15389 38.5142 6.17787C38.4698 6.20185 38.4325 6.23662 38.406 6.2788ZM32.8586 6.13905H31.3471C31.2909 6.13852 31.2363 6.15769 31.1934 6.19305C31.1504 6.2284 31.1219 6.27761 31.1131 6.3317L31.0642 6.6344C31.0642 6.6344 29.8902 5.39554 27.8135 6.23276C26.6224 6.71211 26.0502 7.70248 25.8078 8.42803C25.8078 8.42803 25.0348 10.6331 26.7813 11.8468C26.7813 11.8468 28.4015 13.0141 30.2254 11.775L30.1939 11.9683C30.1865 12.0137 30.1946 12.0602 30.217 12.1007C30.2395 12.1412 30.2749 12.1734 30.318 12.1923C30.3465 12.2053 30.3776 12.2119 30.4091 12.2119H31.9203C31.9764 12.2123 32.0308 12.1931 32.0737 12.1578C32.1166 12.1225 32.145 12.0735 32.154 12.0195L33.0735 6.38297C33.081 6.3375 33.0729 6.29089 33.0505 6.25034C33.0281 6.2098 32.9926 6.17757 32.9495 6.15864C32.9209 6.14582 32.8901 6.13914 32.8586 6.13905ZM30.6361 9.2548C30.5766 9.64814 30.3721 10.0069 30.0608 10.2641C29.7481 10.5225 29.3502 10.6623 28.9402 10.6579C28.7795 10.6596 28.6196 10.6369 28.4662 10.5906C27.8145 10.3882 27.4427 9.7828 27.5497 9.12615C27.6092 8.73167 27.8146 8.37194 28.1272 8.11456C28.4411 7.85605 28.8403 7.71676 29.2513 7.72239C29.4122 7.72076 29.5727 7.74362 29.7263 7.79031C30.3756 7.99146 30.7454 8.5975 30.6381 9.2548H30.6361ZM22.5722 9.41023C23.3898 9.40982 24.1806 9.1264 24.8035 8.61056C25.4238 8.09704 25.8344 7.3838 25.9607 6.60044C26.2255 4.9704 24.9081 3.54737 23.0415 3.54737H20.0332C19.9771 3.54683 19.9226 3.5659 19.8796 3.60112C19.8367 3.63635 19.8082 3.6854 19.7992 3.73937L18.4583 11.9679C18.4508 12.0134 18.4589 12.06 18.4813 12.1006C18.5037 12.1411 18.5392 12.1733 18.5823 12.1923C18.6108 12.205 18.642 12.2119 18.6735 12.2119H20.2652C20.3214 12.2124 20.3759 12.1932 20.4189 12.1579C20.4618 12.1225 20.4903 12.0733 20.4992 12.0192L20.8934 9.60223C20.9018 9.54796 20.9301 9.49852 20.9732 9.46313C21.0162 9.42774 21.071 9.40882 21.1274 9.4099L22.5722 9.41023ZM23.9044 6.52631C23.8062 7.12909 23.3244 7.57284 22.4022 7.57284H21.2232L21.5806 5.38084H22.7385C23.6922 5.38248 24.0023 5.92648 23.9044 6.52795V6.52631Z" fill="white"/>
            <path d="M12.2823 3.97103C12.3182 2.15356 10.7792 0.759277 8.66288 0.759277H4.28548C4.18347 0.759231 4.0848 0.794667 4.00724 0.859202C3.92967 0.923737 3.87832 1.01313 3.86242 1.11128L2.10851 11.7865C2.10066 11.8349 2.10367 11.8844 2.11733 11.9315C2.13099 11.9786 2.15497 12.0223 2.18763 12.0596C2.22029 12.0968 2.26084 12.1267 2.3065 12.1472C2.35216 12.1677 2.40184 12.1784 2.45212 12.1784H5.04544L4.64015 14.6502C4.6323 14.6986 4.63531 14.748 4.64897 14.7952C4.66263 14.8423 4.68661 14.886 4.71927 14.9233C4.75192 14.9605 4.79248 14.9904 4.83814 15.0109C4.8838 15.0314 4.93348 15.042 4.98376 15.0421H7.09636C7.19827 15.0421 7.28911 15.0065 7.36689 14.9421C7.44399 14.8775 7.45673 14.7883 7.47282 14.6901L8.09299 11.1361C8.10875 11.0381 8.16003 10.9108 8.23747 10.8461C8.31491 10.7815 8.38263 10.7462 8.48487 10.7462H9.77751C11.8502 10.7462 13.6085 9.31111 13.93 7.31536C14.1576 5.89887 13.5341 4.61005 12.2823 3.97103Z" fill="#B4BABF"/>
            <path d="M5.6066 8.24091L4.96062 12.2305L4.55499 14.733C4.54719 14.7814 4.55025 14.8308 4.56395 14.8779C4.57766 14.9251 4.60168 14.9687 4.63437 15.0059C4.66705 15.0431 4.70763 15.073 4.7533 15.0935C4.79898 15.1139 4.84866 15.1245 4.89894 15.1245H7.1349C7.23681 15.1245 7.33536 15.089 7.4128 15.0244C7.49023 14.9599 7.54147 14.8706 7.55729 14.7725L8.14662 11.1353C8.1625 11.0372 8.21381 10.9478 8.2913 10.8833C8.3688 10.8188 8.46739 10.7833 8.56934 10.7833H9.88544C11.9582 10.7833 13.7164 9.31062 14.0382 7.31487C14.2662 5.89838 13.5341 4.60924 12.2823 3.97021C12.279 4.12107 12.2656 4.2716 12.2418 4.42083C11.9203 6.41593 10.1613 7.88891 8.08929 7.88891H6.02932C5.92734 7.88902 5.82874 7.92456 5.75126 7.98914C5.67377 8.05372 5.62248 8.14279 5.6066 8.24091Z" fill="#77828B"/>
            <path d="M4.96043 12.2303H2.35907C2.3088 12.2303 2.25913 12.2197 2.21348 12.1992C2.16783 12.1786 2.1273 12.1487 2.09467 12.1115C2.06204 12.0742 2.03809 12.0305 2.02447 11.9834C2.01085 11.9363 2.00789 11.8868 2.0158 11.8385L3.7697 1.00483C3.78559 0.90674 3.8369 0.817391 3.91439 0.752862C3.99188 0.688334 4.09048 0.652863 4.19243 0.652832H8.66302C10.7793 0.652832 12.3183 2.15291 12.2825 3.97006C11.7558 3.701 11.137 3.5472 10.4592 3.5472H6.73211C6.6301 3.54715 6.53143 3.58259 6.45387 3.64712C6.3763 3.71166 6.32495 3.80105 6.30905 3.8992L5.60709 8.24075L4.9601 12.2303H4.96043Z" fill="white"/>
            </svg>


            <svg width="64" height="40" viewBox="0 0 64 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_88_360)">
            <path d="M64 37.8743C64 39.0514 63.0514 40 61.8743 40H2.12571C0.948572 40 0 39.0514 0 37.8743V2.12571C0 0.948572 0.948572 0 2.12571 0H61.8629C63.04 0 63.9886 0.948572 63.9886 2.12571V37.8629L64 37.8743Z" fill="#FFA8CD"/>
            <path d="M53.3141 17.9771V18.48C52.6513 18.0228 51.8398 17.7485 50.9713 17.7485C48.6741 17.7485 46.8113 19.6228 46.8113 21.9428C46.8113 24.2628 48.6741 26.1371 50.9713 26.1371C51.8398 26.1371 52.6399 25.8628 53.3141 25.4057V25.9085H55.6684V17.9542H53.3141V17.9771ZM51.1656 24C49.9884 24 49.0284 23.0857 49.0284 21.9542C49.0284 20.8228 49.9884 19.9085 51.1656 19.9085C52.3427 19.9085 53.3027 20.8228 53.3027 21.9542C53.3027 23.0857 52.3427 24 51.1656 24Z" fill="#0B051D"/>
            <path d="M34.4456 19.0171V17.9771H32.0342V25.9313H34.457V22.2171C34.457 20.9599 35.8056 20.2971 36.7313 20.2971H36.7542V17.9885C35.7942 17.9885 34.9142 18.3999 34.4456 19.0285V19.0171Z" fill="#0B051D"/>
            <path d="M28.4343 17.9769V18.4912C27.7714 18.0341 26.96 17.7598 26.0914 17.7598C23.7943 17.7598 21.9314 19.6341 21.9314 21.9541C21.9314 24.2741 23.7943 26.1483 26.0914 26.1483C26.96 26.1483 27.76 25.8741 28.4343 25.4169V25.9198H30.7885V17.9655H28.4343V17.9769ZM26.2971 23.9998C25.12 23.9998 24.16 23.0855 24.16 21.9541C24.16 20.8226 25.12 19.9083 26.2971 19.9083C27.4743 19.9083 28.4343 20.8226 28.4343 21.9541C28.4343 23.0855 27.4743 23.9998 26.2971 23.9998Z" fill="#0B051D"/>
            <path d="M42.6285 17.7598C41.6913 17.7598 40.7999 18.0569 40.1942 18.8683V17.9769H37.8513V25.9312H40.2285V21.7483C40.2285 20.5369 41.0285 19.9426 41.9999 19.9426C43.0399 19.9426 43.6342 20.5712 43.6342 21.7255V25.9198H45.9885V20.8683C45.9885 19.0169 44.537 17.7598 42.6285 17.7598Z" fill="#0B051D"/>
            <path d="M20.9827 14.4341H18.5142V25.9312H20.9827V14.4341Z" fill="#0B051D"/>
            <path d="M10.2856 14.4341H7.66846V25.9312H10.2856V14.4341Z" fill="#0B051D"/>
            <path d="M16.8114 14.4341C16.8114 16.9255 15.8514 19.2341 14.1371 20.9598L17.7486 25.9312H14.5257L10.6057 20.5255L11.6229 19.7598C13.3029 18.4912 14.2629 16.5484 14.2629 14.4341H16.8229H16.8114Z" fill="#0B051D"/>
            </g>
            <defs>
            <clipPath id="clip0_88_360">
            <rect width="64" height="40" fill="white"/>
            </clipPath>
            </defs>
            </svg>

          </div>
        {% endif %}  
      </div>
    </div>
  </div>
</div>
