{%- liquid
  unless limit
    assign limit = main_menu.links.size
  endunless
  unless offset
    assign offset = 0
  endunless
-%}
{% assign mega_blocks = section.blocks | where: 'type', 'mega_menu' %}
<ul
  class="site-nav site-navigation small--hide"
>
  {%- for link in main_menu.links limit: limit offset: offset -%}
    {%- liquid
      assign has_dropdown = false
      assign is_megamenu = false
      if link.links != blank
        assign has_dropdown = true
        if link.levels > 1
          assign is_megamenu = true
        endif
      endif
    -%}

    
    {% assign matched_block = blank %}
  {% for block in mega_blocks %}
    {% if link.title  == block.settings.title %}
      {% assign matched_block = block %} {{ matched_block }}
    {% endif %}
  {% endfor %}
  

    {%- assign mega_menu_names = '' -%}
    {%- for block in section.blocks -%}
      {%- if block.type == 'mega_menu' -%}
        {%- assign mega_menu_names = mega_menu_names | append: block.settings.title | append: ',' -%}
      {%- endif -%}
    {%- endfor -%}

      {%- assign mega_menu_names = mega_menu_names | downcase | split: ',' | compact -%}

      {%- assign downcased_link_title = link.title | downcase -%}
      {%- assign use_mega_menu = false -%}
      {%- if mega_menu_names contains downcased_link_title -%}
        {%- assign row_width = 0 -%}
        {%- for block in section.blocks -%}
          {%- assign downcased_mega_menu_name = block.settings.title | downcase -%}

          {%- if downcased_mega_menu_name != downcased_link_title -%}               
            {%- continue -%}
          {%- endif -%}
          
          {%- assign use_mega_menu = true -%}
          {%- capture megamenuimages -%}
            {%- if block.type == 'mega_menu' -%}
                  <style>
                    {%  if block.settings.bgimage != blank %}
                      .menu-{{ mega_menu_names }}.megamenu{
                        background-image: url({{ block.settings.bgimage | img_url: 'master' }});                                              
                      }                    
                    {% endif %}  
                    .menu-{{ mega_menu_names }}.megamenu{
                      background-coor: {{ block.settings.bgcolor }};
                      color: {{ block.settings.color }};
                    }
                    .menu-{{ mega_menu_names }}.megamenu a{
                      color: {{ block.settings.color }};
                      background: transparent;
                    }
                  </style>
                  {% for i in (1..5) %}
                  {% capture show_column %}column_{{ i }}{% endcapture %}
                  {% capture column_image %}column_{{ i }}_image{% endcapture %}
                  {% capture column_heading %}column_{{ i }}_heading{% endcapture %}
                  {% capture column_link %}column_{{ i }}_link{% endcapture %}
                  {% capture column_menu %}column_{{ i }}_menu{% endcapture %}
                  {% capture column_width %}column_{{ i }}_width{% endcapture %}
                {%- assign row_width = row_width | plus: block.settings[column_width] -%}
                {%- if row_width > 100 -%}
                  <div class="footer__clear small--hide"></div>
                  {%- assign row_width = row_width | minus: 100 -%}
                {%- endif -%}
                
                  {% if block.settings[show_column] %}
                    {%- assign animation_column = 1 -%}
                  <div class="grid__item menucolumn__item--{{ forloop.index }} appear-animation appear-delay-{{ animation_column }}" data-type="{{ block.type }}">
                    {%- assign animation_column = animation_column | plus: 1 -%}
                  {%- style -%}
                    @media only screen and (min-width: 769px) and (max-width: 959px) {
                      .menucolumn__item--{{ forloop.index }} {
                        width: 50%;
                        padding-top: 40px;
                      }
                      .menucolumn__item--{{ forloop.index }}:nth-child(2n + 1) {
                        clear: left;
                      }
                    }
                    @media only screen and (min-width: 960px) {
                      .menucolumn__item--{{ forloop.index }} {
                        width: {{ block.settings[column_width] }}%;
                      }
                    }
                  {%- endstyle -%}
                    
                      <a href="{{ block.settings[column_link] }}">
                        {% if block.settings[column_image] != blank %}
                        <div class="megamenuimage">
                        {%- render 'image-element',
                          img: block.settings[column_image],
                          sizeVariable: 50vw,
                          widths: '360, 540, 720, 900, 1080, 1600',
                          alt: block.settings[column_heading],
                          loading: loading,
                        -%}
                        </div>
                      {% endif %}
                      <div class="h5 menucolumn-title">{{ block.settings[column_heading] }}</div>
                      </a>
                      {% if block.settings[column_menu] != blank %}
                      <div class="megamenulink">
                        {%- for link in block.settings[column_menu].links -%}
                          <a href="{{ link.url }}" class="site-nav__dropdown-link">
                            {{ link.title }}
                          </a>
                        {%- endfor -%}  
                      </div>
                      {% endif %}
                      
                    
                  </div>
                  {% endif %}
                    {% endfor %}
                  {%- endif -%}
          {% endcapture %}
        {%- endfor -%}  
      {%- endif -%} 

    <li class="site-nav__item site-nav__expanded-item{% if has_dropdown %} site-nav--has-dropdown{% endif %}{% if is_megamenu %} site-nav--is-megamenu{% endif %}">
      {% if is_megamenu or has_dropdown %}
        <details
          data-hover="{{ hover_menu }}"
          id="site-nav-item--{{ forloop.index }}"
          class="site-nav__details"
        >
          <summary
            data-link="{{ link.url }}"
            aria-expanded="false"
            aria-controls="site-nav-item--{{ forloop.index }}"
            class="site-nav__link site-nav__link--underline{% if has_dropdown %} site-nav__link--has-dropdown{% endif %}"
          >
            {{ link.title }} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="m1.57 1.59 12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none"/></svg>
          </summary>
      {% else %}
        <a
          href="{{ link.url }}"
          class="site-nav__link site-nav__link--underline{% if has_dropdown %} site-nav__link--has-dropdown{% endif %}"
        >
          {{ link.title }}
        </a>
      {% endif %}
        {%- if is_megamenu -%}
          {%- assign previous_column_type = '' -%}
          {%- assign animation_column = 1 -%}

          <div class="site-nav__dropdown megamenu text-left">
            <div class="page-width">
              <div class="grid{% if dropdown_alignment == 'center' %} grid--center{% endif %}">
                <div class="grid__item medium-up--one-fifth appear-animation appear-delay-{{ animation_column }}">
                  {%- assign animation_column = animation_column | plus: 1 -%}

                  {%- for childlink in link.links -%}
                    {%- liquid
                      assign create_new_column = false

                      if childlink.levels > 0 and forloop.index != 1
                        assign create_new_column = true
                      endif

                      if childlink.levels == 0 and previous_column_type == 'full'
                        assign create_new_column = true
                      endif
                    -%}

                    {%- if create_new_column -%}
                      </div><div class="grid__item medium-up--one-fifth appear-animation appear-delay-{{ animation_column }}">
                      {%- assign animation_column = animation_column | plus: 1 -%}
                    {%- endif -%}

                    {%- if childlink.levels > 0 and childlink.url contains '/collections/' -%}
                      {%- if collections[childlink.object.handle].image != blank and section.settings.mega_menu_images -%}
                        <a href="{{ childlink.url }}">
                          <div class="svg-mask svg-mask--landscape">
                          {%- render 'image-element',
                            img: collections[childlink.object.handle].image,
                            sizeVariable: '20vw',
                            alt: collections[childlink.object.handle].title,
                            classes: 'megamenu__collection-image',
                          -%}
                          </div>
                        </a>
                      {%- endif -%}
                    {%- endif -%}

                    <div class="h5">
                      <a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--top-level">{{ childlink.title }}</a>
                    </div>

                    {%- liquid
                      if childlink.levels > 0
                        assign previous_column_type = 'full'
                      else
                        assign previous_column_type = 'single'
                      endif
                    -%}

                    {%- for grandchildlink in childlink.links -%}
                      <div>
                        <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">
                          {{grandchildlink.title}}
                        </a>
                      </div>
                    {%- endfor -%}
                  {%- endfor -%}
                </div>
              </div>
            </div>
          </div>
        {%- elsif has_dropdown -%}
          <ul class="site-nav__dropdown text-left">
            {%- for childlink in link.links -%}
              {%- liquid
                assign has_sub_dropdown = false
                if childlink.links != blank
                  assign has_sub_dropdown = true
                endif
              -%}

              <li class="{% if has_sub_dropdown %} site-nav__deep-dropdown-trigger{% endif %}">
                <a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--second-level{% if has_sub_dropdown %} site-nav__dropdown-link--has-children{% endif %}">
                  {{ childlink.title | escape }}
                  {%- if has_sub_dropdown -%}
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="m1.57 1.59 12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none"/></svg>
                  {%- endif -%}
                </a>
                {%- if has_sub_dropdown -%}
                  <ul class="site-nav__deep-dropdown">
                    {%- for grandchildlink in childlink.links -%}
                      <li>
                        <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">{{ grandchildlink.title | escape }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      {% if is_megamenu or has_dropdown %}
        </details>
      {% endif %}
    </li>
  {%- endfor -%}
</ul>
