{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width">
  {%- if section.settings.title != blank -%}
    <div class="section-header">
      <h2 class="section-header__title">{{ section.settings.title }}</h2>
    </div>
  {%- endif -%}
  </div>
<div class="page-width page-width--flash page-width--flush-small categories-scroller">
    <div class="grid-overflow-wrapper">
  <div class="grid grid--uniform{% unless section.settings.enable_gutter %} grid--no-gutters{% endunless %}"  data-aos="overflow__animation">
    {%- liquid
      assign isEmpty = true
      if section.blocks.size > 0
        assign isEmpty = false
      endif
    -%}

    {%- for block in section.blocks -%}
      {%- liquid
        assign collection = collections[block.settings.collection]
        assign background_position = block.settings.focal_point

        capture gridView
          if section.blocks.size < section.settings.per_row
            assign products_per_row = section.blocks.size
          else
            assign products_per_row = section.settings.per_row
          endif
          render 'products_per_row', products_per_row: products_per_row, style: 'fractions'
        endcapture
      -%}

      <div class="grid__item {{ gridView }}" {{ block.shopify_attributes }}>
        <a href="{{ block.settings.link }}" class="" data-aos="row-of-{{ section.settings.per_row }}">
          <div class="category-img">
            <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
          </div>
          <div class="">{{ block.settings.title }}</div>
        </a>

      </div>
    {%- endfor -%}

    {%- if isEmpty -%}
      <div class="page-width">
        <div class="grid">
          <div class="grid__item">
            <div class="rte">
              {{ 'home_page.onboarding.no_content' | t }}
            </div>
          </div>
        </div>
      </div>
    {%- endif -%}

  </div>
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

<style>
    #shopify-section-{{ section.id }}.section-header__title {
        text-align: right;
    }
    .page-width.page-width--flash {
      max-width: 100%;
      padding: 0;
    }
    .categories-scroller .grid-overflow-wrapper {
        -webkit-overflow-scrolling: touch;
        overflow: hidden;
        overflow-x: scroll;
    }
    .categories-scroller .grid-overflow-wrapper .grid {
        display: flex;
        white-space: nowrap;
        padding-left: max(40px, calc((100vw - 1500px + 80px - 22px) /2));
    }
     .categories-scroller .grid-overflow-wrapper .grid .grid__item:first-child {
        
    }
    .categories-scroller [data-aos="overflow__animation"] {
        transform: translate(100vw);
        transition: all .8s cubic-bezier(.25,.46,.45,.94);
    }
    .categories-scroller .aos-animate[data-aos="overflow__animation"] {
        transform: translate(0);
    }
    .categories-scroller .grid-overflow-wrapper .grid__item {
        display: inline-block;
        flex: 0 0 39vw;
        float: none;
        white-space: normal;
        width: 39vw;
        margin-bottom: 0;
    }
    @media only screen and (min-width:769px){
        .categories-scroller .grid-overflow-wrapper .grid__item {
            flex: 0 0 24%;
            width: 24%;
        }
    }
</style>
    

{% schema %}
{
  "name": "Categories",
  "class": "index-section",
  "max_blocks": 15,
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.featured-collections.settings.title.label",
      "default": "Explore What’s Hot"
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.featured-collections.settings.divider.label",
      "default": false
    },
    {
      "type": "range",
      "id": "per_row",
      "label": "t:sections.featured-collections.settings.per_row.label",
      "default": 4,
      "min": 2,
      "max": 5,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "enable_gutter",
      "label": "t:sections.featured-collections.settings.enable_gutter.label",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Categories",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "bgcolor",
          "label": "Background color",
          "default": "#F3ECDB"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text color",
          "default": "#1B0D0D"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
